<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>D.H.</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dh.css') }}">
    </head>
    <body>
        <h3>Hyunho's Project </h3>
        <ul>
            <li>
                stock (proparing...) - 2023.04.~
                <button type="button" class="sign-up-button" onclick="location.href='/stock'">stock</button>
            </li>
            <li>
                lotto (proparing...) - 2023.10.~
                <button type="button" class="sign-up-button" onclick="location.href='/lotto'">lotto</button>
            </li>
        </ul>
    </body>
</html>